body {
    margin: 0;
    background: #050505;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    background: radial-gradient(circle, #1b2735 0%, #090a0f 100%);
    width: 100%;
    height: 100%;
    touch-action: none;
}